.negative {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}

.positive {
  border: 5px outset greenyellow;
  background-color: lightblue;
  text-align: center;
}

.orange {
  border: 5px outset rgb(226, 141, 13);
  background-color: lightblue;
  text-align: center;
}

.five {
  border: 5px outset red;
  background-color: lightcoral;
  text-align: center;
}

.ten {
  border: 5px outset greenyellow;
  background-color: lightgreen;
  text-align: center;
}

.fiveToTen {
  border: 5px outset rgb(226, 141, 13);
  background-color: lightsalmon;
  text-align: center;
}
.data {
  border: 5px ;
  background-color: lightblue;
  text-align: center;
}

.hader {
  background-color: lightblue;
  text-align: center;
}

.hide {
  display: none;
}
.show {
  display : block;
}
button:hover {
  background-color: yellow;
}
.seperator {
  text-decoration: line-through;
}

h3:hover {
  color:blue
}